<h1>Articles</h1>

<ul>
  {{#each data}}
    <h2> <a href = {{link}}>{{heading}}</a></h2>
    <img src = {{thumb}}>
    <p>{{summary}}</p>
    
      {{!-- {{> cats/cat-block}} --}}

  {{/each}}
</ul>
{{!-- 
<h2>Cats that are sleepy!</h2> --}}

{{!-- <ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}

